/* ----------ALL---------- */

* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Fjalla One', sans-serif;
}

.none {
    display: none;
}

.div-body {
    background-color: #b3b3b3;
}

/* ----------FOOTER---------- */

footer {
    background-color: #717575;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-top: 75px;
}

.copy {
    margin-top: 15px;
    margin-left: 20px;
}

.ul-footer {
    display: flex;

    justify-content: space-between;

    list-style-type: none;

    margin-right: 90px;
}

.li-footer {
    margin-top: 10px;
}

.div-footer {
    width: 33%;
}

.btn-footer {
    text-decoration: none;

    font-size: 20px;

    color: #000000;

    padding-right: 15px;
    padding-left: 15px;

    transition: all .5s ease;
}

.btn-footer:hover {
    color: #b3b3b3;
}

.div-redes {
    display: flex;

    margin-top: 15px;
    margin-right: 15px;
}

.redes {
    font-size: 25px;

    color: #000000;

    padding-right: 10px;
    padding-left: 10px;

    transition: all .5s ease;
}

.redes:hover {
    color: #b3b3b3;
}


/* ----------FOOTER---------- */

/* ----------ALL---------- */



/* ----------INDEX---------- */

/* ----------HEADER-INDEX---------- */

header {
    background-color: #717575;

    display: flex;

    justify-content: space-between;
}

.img-logo {
    height: 60px;
}

.div-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.fa-language {
    font-size: 30px;
}

/* ----------NAV-INDEX---------- */

nav {
    margin-left: 77px;
}

.ul-nav {
    list-style-type: none;

    display: flex;
}

.li-nav {
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.btn-nav {
    text-decoration: none;

    font-size: 20px;

    color: #000000;

    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12px;

    transition: all .5s ease;
}

.btn-nav:hover {
    border-bottom: solid #b3b3b3 5px;

    color: #b3b3b3;
}

.dropdown-menu {
    background-color: #5b5b5b;

    border-radius: 5px;

    text-align: center;
}

.li-drop {
    padding-top: 10px;
    padding-bottom: 5px;
}

.btn-drop {
    text-decoration: none;

    font-size: 20px;

    color: #000000;

    transition: all .5s ease;

    padding: 10px;
}

.btn-drop:hover {
    color: #b3b3b3;
}

/* ----------NAV-INDEX---------- */

/* ----------HEADER-INDEX---------- */


/* ----------MAIN-INDEX---------- */

/* ----------BOOTSTRAP-INDEX---------- */

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-edit {
    width: 32%;

    text-align: center;

    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
}

.div-destacados {
    display: flex;

    justify-content: center;
}

.col {
    text-align: center;
}

/* ----------BOOTSTRAP-INDEX---------- */

.div-text {
    display: flex;

    justify-content: center;

    margin-top: 30px;
    margin-bottom: 15px;

}

.text {
    text-decoration: none;

    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;

    color: #000000;

    transition: all .1s ease;
}

.text:hover {
    color: #000000;

    animation: cambiar 1s;
}

@keyframes cambiar {
    0% {
        color: #000000;
    }

    20% {
        color: #b3b3b3;
    }

    100% {
        color: #000000;
    }
}

.img-new {
    height: 450px;
}

.img-grid {
    height: 300px;

    margin-top: 5px;
    margin-bottom: 100px;

    transition: all .5s ease;
}

.img-grid:hover {
    transform: scale(1.04);
}

.banner {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    justify-items: center;
}

.div-prendas {
    margin-top: 70px;

    height: 250px;
    width: 250px;

    overflow: hidden;
}

.img-prendas {
    height: 250px;

    transition: all .5s ease;
}

.img-prendas:hover {
    transform: scale(1.07);
}

/* ----------MAIN-INDEX---------- */

/* ----------INDEX---------- */



/* ----------LOGIN---------- */

.body-login {
    height: 100vh;
}

.footer-login {
    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 50px;
}

/* ----------HEADER-LOGIN---------- */

.nav-login {
    margin-top: 30px;
    margin-right: 80px;
}

.btn-register {
    text-decoration: none;

    color: #000000;

    font-size: 20px;

    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12px;

    transition: all .5s ease;
}

.btn-register:hover {
    border-bottom: solid #b3b3b3 5px;

    color: #b3b3b3;
}

/* ----------HEADER-LOGIN---------- */

/* ----------MAIN-LOGIN---------- */

.logo-login {
    height: 35px;

    margin-top: 25px;
}

.cuadro-login {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;

    background-color: #717575;

    width: 24%;

    border-radius: 10px;
    border: #000000 solid 2px;
}

.text-login {
    font-size: 18px;

    margin-top: 15px;
    margin-bottom: 5px;
}

.continuar ul {
    list-style: none;

    text-align: center;
}

.continuar ul li {
    margin-top: 15px;
    margin-bottom: 25px;
}

.continuar ul li a {
    text-decoration: none;

    color: #000000;

    background-color: #b3b3b3;

    border: #000000 solid 1px;
    border-radius: 5px;

    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;

    transition: all .5s ease;
}

.continuar ul li a:hover {
    color: #b3b3b3;

    background-color: #353535;
}

.data {
    color: #000000;

    margin-bottom: 15px;

    width: 200px;
    height: 25px;

    border: #000000 solid 1px;
}

.text-check {
    font-size: 14px;
}

.iniciar {
    margin-top: 20px;
    margin-left: 55px;

    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;

    border: #000000 solid 1px;
    border-radius: 5px;

    background-color: #b3b3b3;

    transition: all .5s ease;
}

.iniciar:hover {
    color: #b3b3b3;

    background-color: #353535;

    cursor: pointer;
}

.olvide {
    text-decoration: none;

    color: #000000;

    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

.div-olvide {
    margin-top: 15px;
    margin-bottom: 30px;
}

/* ----------MAIN-LOGIN---------- */

/* ----------LOGIN---------- */



/* ----------SOPORTE---------- */

/* ----------MAIN-SOPORTE---------- */

.div-search {
    position: absolute;
    left: 50.5%;
    top: 35%;

    transform: translate(-50%, -50%);

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.div-search input {
    outline: none;

    height: 60px;
    width: 0;

    padding-right: 20px;
    padding-left: 20px;

    color: #000000;
    font-size: 20px;

    border: solid 1px #717575;
    border-radius: 50px;

    transition: all .7s ease;
}

.div-search input::placeholder {
    color: #000000;
}

.div-lupa {
    position: absolute;
    right: 0;
    top: 0;

    width: 80px;
    height: 80px;

    background-color: #717575;

    line-height: 80px;

    border-radius: 50%;

    text-align: center;

    cursor: pointer;

    transition: .5s;
}

.div-lupa i {
    font-size: 25px;
    color: #ffffff;

    line-height: 80px;

    transition: all .7s ease;
}

.div-search:hover input {
    width: 350px;
}

.div-search:hover i {
    transform: rotate(-360deg);
}

.div-lupa:hover {
    background-color: #717575;
}

.grid-soporte {
    margin-top: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 40px;

    text-align: center;

    width: 60%;

    margin-right: auto;
    margin-left: auto;
}

.btn-soporte {
    text-decoration: none;

    color: #000000;

    font-size: 20px;

    width: 400px;

    font-weight: 600;
}

.div-soporte {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #717575;

    border: solid 2px #000000;
    border-radius: 10px;

    cursor: pointer;

    transition: all .5s ease;
}

.div-soporte:hover .btn-soporte {
    color: #717575;
}

.div-soporte:hover {
    background-color: #353535;
}

/* ----------MAIN-SOPORTE---------- */

/* ----------SOPORTE---------- */



/* ----------CAMISAS---------- */

/* ----------MAIN-CAMISAS---------- */

.grid-prendas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;

    justify-items: center;

    margin-top: 50px;
}

.card-camisas {
    text-align: center;
}

.img-card {
    height: 370px;
}

.div-card {
    margin-top: 10px;
}

.div-card a {
    text-decoration: none;

    color: #ffffff;
}

/* ----------MAIN-CAMISAS---------- */

/* ----------CAMISAS---------- */



/* ----------ZAPATILLAS---------- */

/* ----------MAIN-ZAPATILLAS---------- */

.img-zapa {
    height: 300px;
}

/* ----------MAIN-ZAPATILLAS---------- */

/* ----------ZAPATILLAS---------- */